.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.card-header {
  font-family: "Helvetica Neue";
}

.card-body {
  background: transparent;
  font-family: "Helvetica Neue";
}

.card-footer {
  height: 25px;
  margin: 2px;
  margin-top: 5px;
  padding: 16px;
  font-family: "Helvetica Neue";
  font-weight: lighter !important;
  /*background: #f9f9f9 !important;*/
}

.wivo-card {
  padding: 10px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.05) !important;
}

.wivo-card:hover {
  /*-webkit-transform: translate3d(0, -0.3rem, 0);*/
  transform: translate3d(0, 0rem, 0);
  -webkit-box-shadow: 1px 1px 0px 0px rgba(94, 93, 102, 0.08), 2px 5px 10px 0px rgba(94, 93, 102, 0.2) !important;
  box-shadow: 1px 1px 0px 0px rgba(94, 93, 102, 0.08), 2px 5px 10px 0px rgba(94, 93, 102, 0.2) !important;
  cursor: -webkit-grab !important;
  cursor: grab !important;
}

.wivo-card:hover > div > .button-card {
  opacity: 1;
}

.button-card {
  opacity: 0.5
}

.button-card-remove {
  background-size: 1rem 1rem;
  background-image: url('./expand.svg');
  position: absolute;
  display: block;
  top: 0.5rem;
  right: 2.0rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: visible;
  border: none;
  cursor: pointer;
  text-indent: -1000rem;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1);
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 3;
}

.button-card-minus {
  background-size: 1rem 1rem;
  background-image: url('./minus.svg');
  position: absolute;
  display: block;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: visible;
  border: none;
  cursor: pointer;
  text-indent: -1000rem;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1);
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 3;
}

.button-card-expand {
  background-size: 1rem 1rem;
  background-image: url('./remove.svg');
  position: absolute;
  display: block;
  top: 0.5rem;
  right: 3.5rem;
  width: 1.5rem;
  height: 1.5rem;
  overflow: visible;
  border: none;
  cursor: pointer;
  text-indent: -1000rem;
  color: rgba(0, 0, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1);
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 3;
  opacity: 0.3;
}


/*.hc1 {height: 50px !important;}*/


/*.hc2 {height: 50px !important;}*/


/*.hc3 {height: 50px !important;}*/

.bc1 {
  height: 47px !important;
}

.bc2 {
  height: 155px !important;
}

.bc3 {
  height: 330px !important;
}

.fc1 {
  display: none;
}


/*.fc2 {height: 50px !important;}*/


/*.fc3 {height: 50px !important;}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}